<div class="site_bottom">
    <div class="site_explanation">
       
    <div class="accordion" id="accordion">
        <h5 class="btn btn-info"  data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
         StandUpEngineersとは？
        </h5>
        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
          <p>デスクワークや昨今増えつつあるリモートワーク</p>
          <p>「休憩を取りながら作業をした方が効率が上がる」</p>
          <p>「運動した方が脳に酸素がまわってアイデアが出る」</p>
          <p>それは分かってはいるのに休憩のタイミングが掴めずズルズルと仕事をしてしまい、結果的に仕事が捗らないで終わってしまう</p>
          <p>そんなエンジニアのために、休憩と運動するタイミングを提供するアプリです</p> 
          </div>
        </div>
        <div>
         <h5 class="btn btn-info"  data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseOne">
          アプリの使い方
         </h5>
         </div>
           <div class="text">
            <div id="collapseTwo" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                <br>
                <p>１・LINEでログインし、友だち追加をしてください</p>
                <P>※友だち追加をしていただかないとLINE通知ができません</p>
                <%= image_tag "説明_1.png", size:'300x300' %>
                <p>※友だち登録のみをする場合はQRコードを読み込んでください</p>
                <p>※LINEログインからでも友だち登録は可能です</p>
                 <%= image_tag "説明_2.png", size:'300x300' %>
                <br>
                <p>２・ログインが完了したら”アプリを起動する”ボタンをクリックして下さい</p>
　　　　　　　　　　 <%= image_tag "説明_3.png", size:'300x300' %>
                <br>
                <p>３・動画を提供して欲しい間隔を選択してください</p>
　　　　　　　　　　 <%= image_tag "説明_4.png", size:'300x300' %>
                <br>
                <br>
                <br>
                <p>４・見たい動画のカテゴリーを選択してください</p>
                 <%= image_tag "説明_5.png", size:'300x300' %>
                <br>
                <br>
                <p>５・アプリスタートボタンをクリックすると、６０分を選択した方は毎時０分に３０分を選択した方は毎時０分と３０分に選択したカテゴリーのYOUTUBE動画がランダムでLINEに通知されます</p>
                 <%= image_tag "説明_6.png", size:'300x300' %>
                 <br>
                 <br>
                 <p>６・通知を止めたい場合は”アプリを終了する”ボタンをクリックして下さい</p>
                  <%= image_tag "説明_7.png", size:'300x300' %>
                 <br>
                 <br>
                  <h5 class="btn btn-info"  data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseOne">
          アプリの使い方を閉じる
         </h5>
            </div>
         </div>


          <% if @current_user&.clock.present? %>
           <div>
            <%= link_to 'アプリを終了する', user_clocks_path(@current_user), method: :delete, class: 'btn btn-success'%>
            </div>
          <% elsif  @current_user %>
             <div>
                <a class="btn btn-success" data-toggle="modal" data-target="#exampleModal">アプリを起動する</a>
             </div>
             <div>
                <%= link_to "ログアウト", user_path(@current_user), method: :delete, class: 'btn btn-primary'%>
             </div>
          <%else%>
             <br>
             <p>⬇️友達追加はこちら⬇️</p>
             <%= image_tag "460ervgc.png", size: '150x150' %>
             <br>
             <div class="line_login">
              <%= link_to image_tag("btn_login_hover.png"), ENV['LINE_LOGIN']%>
            </div>
          <% end %>
          <br>
    </div>
</div>

