<body style="padding-top:50px;">
<div class="header">
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand"  href="#">StandUpEngineers</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#Navbar"
      aria-controls="#Navbar" aria-expanded="false" aria-label="ナビゲーション切り替え">
       <span class="navbar-toggler-icon"><span>
    </button>
    <div class="collapse navbar-collapse" id="Navbar">
      <ul class="navbar-nav mr-auto">
      <% if @current_user&.clock.present? %>
        <li class="nav-item">
          <%= link_to 'アプリを終了する', user_clocks_path(@current_user), method: :delete, class: 'nav-link'%>
        </li>
        <% elsif  @current_user %>
          <li class="nav-item">
            <%= link_to "ログアウト", user_path(@current_user), method: :delete, class: 'nav-link'%>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="modal" data-target="#exampleModal">アプリスタート</a>
          </li>
      <% else %>
        <li class="nav-item">
           <p  class='nav-link navigate' data-toggle="modal" data-target="#textmodal">アプリの使い方</p>
        </li>
    <% end %>
      </ul>
    </div>
  </nav>
   <div class="modal" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <!-- モーダルのダイアログ本体 -->
      <div class="modal-dialog" role="document">
        <!-- モーダルのコンテンツ部分 -->
        <div class="modal-content">
          <!-- モーダルのヘッダー -->
          <div class="modal-header">
            <!-- モーダルのタイトル -->
            <h5 class="modal-title" id="exampleModalLabel">アプリをスタートする</h5>
            <!-- 閉じるアイコン -->
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
             <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <!-- モーダルの本文 -->
          <div class="modal-body">
            <div class="container">
              <div class="row">
                <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
                  <p>二つとも選択してください</p>
                  <% if @current_user %>
                  <%= form_with model: [@current_user, @clock], local: true do |f|  %>

                    <div class="form-group">
                      <%= f.label :set_time, value: '通知の間隔("30分" "60分"の二択です)'%>
                      <br>
                      <%= f.select :set_time, [30, 60],class: 'form-control'%>分
                    </div>

                    <div class="form-group">
                      <%= f.label :category, value: '見たい動画のカテゴリーを選択してください' %>
                      <br>
                      <%= f.select :category, ["筋トレ","ストレッチ","ヨガ","ザ・きんにくTV"],class: 'form-control'%>
                    </div>

                    <%= f.submit value: 'アプリスタート', class:'btn btn-success'%>
                  <% end %>
                  <%end%>
                </div>
              </div>
            </div>
          </div>
     </div>
    </div>
  </div>
</div>

<div class="main">
  <div class="site_face">
  <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %> btn-block"><%= message %></div>
    <% end %>
   
</div>
       <!-- サイトのログインボタン等-->
     <%= render 'shared/site_buttons' %>

     <!-- 使い方のモーダル-->
     <%= render 'shared/modal' %>
     <%=  render 'shared/footer'%>

