<body style="padding-top:50px;">
<div class="header">
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand"  href="#">StandUpEnginieers</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#Navbar"
      aria-controls="#Navbar" aria-expanded="false" aria-label="ナビゲーション切り替え">
       <span class="navbar-toggler-icon"><span>
    </button>
    <div class="collapse navbar-collapse" id="Navbar">
      <ul class="navbar-nav mr-auto">
      <% if @current_user %>
      <% unless @current_user.clock.present? %>
      <li class="nav-item">
          <a class="nav-link" data-toggle="modal" data-target="#exampleModal">アプリを起動する</a>
        </li>
        <% end %>
       <li class="nav-item">
           <%= link_to "ログアウト", user_path(@current_user), method: :delete, class: 'nav-link'%>
        </li>
      <% else %>
        <li class="nav-item">
           <p  class='nav-link navigate' data-toggle="modal" data-target="#textmodal">アプリの使い方</p>
        </li>
    <% end %>
      </ul>
    </div>
  </nav>
   <div class="modal" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <!-- モーダルのダイアログ本体 -->
      <div class="modal-dialog" role="document">
        <!-- モーダルのコンテンツ部分 -->
        <div class="modal-content">
          <!-- モーダルのヘッダー -->
          <div class="modal-header">
            <!-- モーダルのタイトル -->
            <h5 class="modal-title" id="exampleModalLabel">アプリ起動</h5>
            <!-- 閉じるアイコン -->
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
             <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <!-- モーダルの本文 -->
          <div class="modal-body">
            <div class="container">
              <div class="row">
                <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
                  <p>二つとも選択してください</p>
                  <% if @current_user %>
                  <%= form_with model: [@current_user, @clock] do |f|  %>

                    <div class="form-group">
                      <%= f.label :set_time, value: '通知の間隔("30分" "60分"の二択です)'%>
                      <br>
                      <%= f.select :set_time, [30, 60],class: 'form-control'%>分
                    </div>

                    <div class="form-group">
                      <%= f.label :category, value: '見たい動画のカテゴリーを選択してください' %>
                      <br>
                      <%= f.select :category, ["筋トレ","ストレッチ","ヨガ","バーピー"],class: 'form-control'%>
                    </div>

                    <%= f.submit value: 'アプリスタート', class:'btn btn-primary'%>
                  <% end %>
                  <%end%>
                </div>
              </div>
            </div>
          </div>
     </div>
    </div>
  </div>
</div>

<div class="main">
  <div class="site_face">
  <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>"><%= message %></div>
    <% end %>
    <% unless @current_user %>
      <div class="line_login">
        <%= link_to image_tag("btn_login_hover.png"), ENV['LINE_LOGIN']%>
      </div>
    <% end %>
　</div>

  <div class="site_bottom">
    <div class="site_explanation">
        <h4>StandUpEngineers<span class="toha">とは</span></h4>
        <p>デスクワークや昨今増えつつあるリモートワーク</p>
　　　　　<p>「休憩を取りながら作業をした方が効率が上がる」</p>
　　　　　<p>「運動した方が脳に酸素がまわってアイデア出て来る」</p>
　　　　　<p>それは分かってはいるのに休憩のタイミングが掴めずズルズルと仕事をしてしまい、結果的に仕事が捗らないで終わってしまう</p>
　　　　　<p>そんなエンジニアのために、休憩と運動するタイミングを提供するアプリです</p>
          <button class="btn btn-primary" data-toggle="modal" data-target="#textmodal">使い方</button>
  </div>
</div>

          <div class="modal" id="textmodal" tabindex="-1" role="dialog" aria-labelledby="textmodallLabel" aria-hidden="true">
      <!-- モーダルのダイアログ本体 -->
      <div class="modal-dialog" role="document">
        <!-- モーダルのコンテンツ部分 -->
        <div class="modal-content">
          <!-- モーダルのヘッダー -->
          <div class="modal-header">
            <!-- モーダルのタイトル -->
            <h5 class="modal-title" id="textmodallLabel">アプリの使い方</h5>
            <!-- 閉じるアイコン -->
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
             <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <!-- モーダルの本文 -->
          <div class="modal-body">
            <div class="container">
              <div class="row">
                <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
                  <p>①lineからログインしてください</p>
                  <p>②アプリを起動するボタンをクリックしてください</p>
                  <p>③動画を提供して欲しい間隔を選択してください(30分か60分の二択です)</p>
                  <p>⑤見たい動画のカテゴリーを選択してください</p>
                  <p>⑥アプリスタートボタンをクリックしてください<p>
                  <p>⑦60分を選択した方は毎時０分に、30分を選択した方は毎時0分と30分に選択したカテゴリーのyoutube動画がランダムでlineに通知されます。</p>
                </div>
              </div>
            </div>
          </div>
     </div>
    </div>
  </div>
</div>
<script>
    $(function(){
    $(".alert").delay(5000).slideUp(1000);
  });
  </script>