<%=  render 'shared/header' %>
  <div class="main">
    <div class="site_face">
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %> btn-block"><%= message %></div>
      <% end %>
    </div>
  </div>

  <%= render 'shared/site_body' %>

  <%= render 'shared/footer'%>

