<body style="padding-top:50px;">
<div class="header">
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand"  href="#">StandUpEnginieers</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#Navbar"
      aria-controls="#Navbar" aria-expanded="false" aria-label="ナビゲーション切り替え">
       <span class="navbar-toggler-icon"><span>
    </button>
    <div class="collapse navbar-collapse" id="Navbar">
      <ul class="navbar-nav mr-auto">
      <% if @current_user %>
      <li class="nav-item">
       <%= link_to "アプリ終了", user_path(@current_user), method: :delete, class: 'nav-link'%>
      </li>
      <% else %>
        <li class="nav-item">
          <a class="nav-link" data-toggle="modal" data-target="#exampleModal">アプリを起動する</a>
        </li>
    <% end %>
      </ul>
    </div>
  </nav>
   <div class="modal" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <!-- モーダルのダイアログ本体 -->
      <div class="modal-dialog" role="document">
        <!-- モーダルのコンテンツ部分 -->
        <div class="modal-content">
          <!-- モーダルのヘッダー -->
          <div class="modal-header">
            <!-- モーダルのタイトル -->
            <h5 class="modal-title" id="exampleModalLabel">アプリ起動</h5>
            <!-- 閉じるアイコン -->
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
             <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <!-- モーダルの本文 -->
          <div class="modal-body">
            <div class="container">
              <div class="row">
                <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
                  <p>全て入力してください</p>
                  <%= form_with(model: @user, local: true) do |f| %>

                    <div class="form-group">
                      <%= f.label :name %>
                      <%= f.text_field :name, class: 'form-control'%>
                    </div>

                    <div class="form-group">
                      <%= f.label :email %>
                      <%= f.email_field :email, class: 'form-control'%>
                    </div>

                    <div class="form-group">
                      <%= f.label :set_time %>
                      <%= f.number_field :set_time, class: 'form-control'%>分
                    </div>

                    <div class="form-group">
                      <%= f.label :break_time %>
                      <%= f.number_field :break_time, class: 'form-control'%>分
                    </div>

                    <div class="form-group">
                      <%= f.label :category %>
                      <%= f.text_field :category, class: 'form-control'%>
                    </div>

                    <%= f.submit value: 'アプリスタート', class:'btn btn-primary'%>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
     </div>
    </div>
  </div>
</div>
<div class="main">

  <div class="site_face">
      <div class="line_login">
        <%= link_to image_tag("btn_login_hover.png"), "#" %>
      </div>
  </div>

  <div class="site_bottom">
    <div class="site_explanation">
        <h1 id="site_name">StandUpEngineers</h1>
        <h3>StandUpEngineersとは</h3>
        <p>デスクワークや昨今増えつつあるリモートワーク</p>
　　　　　<p>「休憩を取りながら作業をした方が効率が上がる」</p>
　　　　　<p>「運動した方が脳に酸素がまわってアイデア出て来る」</p>
　　　　　<p>それは分かってはいるが休憩のタイミングが掴めずズルズルと仕事をしてしまい、結果的に仕事が捗らないで終わってしまう</p>
　　　　　<p>そんなエンジニアの方達のために、休憩と運動するタイミングを提供するアプリです</p>
          <button class="btn btn-primary" data-toggle="modal" data-target="#textmodal">使い方</button>
  </div>
</div>

          <div class="modal" id="textmodal" tabindex="-1" role="dialog" aria-labelledby="textmodallLabel" aria-hidden="true">
      <!-- モーダルのダイアログ本体 -->
      <div class="modal-dialog" role="document">
        <!-- モーダルのコンテンツ部分 -->
        <div class="modal-content">
          <!-- モーダルのヘッダー -->
          <div class="modal-header">
            <!-- モーダルのタイトル -->
            <h5 class="modal-title" id="textmodallLabel">アプリの使い方</h5>
            <!-- 閉じるアイコン -->
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
             <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <!-- モーダルの本文 -->
          <div class="modal-body">
            <div class="container">
              <div class="row">
                <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
                  <p>lineでログインする</p>
                  <p>アプリを起動するボタンをクリック</p>
                  <p>あなたが作業する時間のサイクルを”set_time"に入力</p>
                  <p>休憩する時間を”break_time”に入力</p>
                  <p>見たい動画のカテゴリーを”category”に入力</p>
                  <p>アプリスタートボタンをクリック<p>
                  <p>これだけであなたが休憩したいタイミングで、選択したカテゴリーのyoutube動画がランダムで送られてきます。</p>
                </div>
              </div>
            </div>
          </div>
     </div>
    </div>
  </div>
</div>
